ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}


li {
    float: left;
    width: 15%;
}

.leftnav h1{
  margin-left: 10px;
}

.rightnav{
  text-align: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #000088;
}
li.dropdown {
    display: inline-block;
}
.dropcontent {
    display: none;
    background-color: #333;
    position: absolute;
    width: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.dropcontent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropcontent a:hover {background-color: #blue}
.dropdown:hover .dropcontent {
    display: block;
}
